.pageContainer {
  padding: 20px 80px;
}

.buttonHolder {
  display: flex;
  width: 100%;
  justify-content: right;
}
//
//@media (max-width: 600px) {
//  .buttonHolder {
//    padding-right: 20px;
//  }
//}