.card {
  cursor: pointer;
  max-width: 500px;
  width: 40%;
  background-position: center;
  background-size: cover;
  .imageDiv {
    height: 0;
    padding-top: 100%;
  }
}

@media (max-width: 700px) {
  .card {
    width: 99%
  }
}